body{
    background-image: url("./pexels-rucasouza-1049764.jpg");
    background-size: cover;
    text-align: center;
    margin-top: 150px;
}
.color{
    color: whitesmoke;
    font-size: 20px;
    background-color: black;
    opacity: 0.6;
    height: 450px;
    width: 450px;
    margin-left: 515px;
}